# Prisma Postgres
DATABASE_URL="postgresql://user:password@localhost:5432/vitrineflow?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="troque-por-um-segredo-forte-aleatorio"
